<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<p class="mx-sm-1 lead">Applying Kmeans on state {{ request.session.state }}.</p><br />
{{ df | safe }}
<!-- {% for val in qs %}
    <h5>{{ val.State }} {{ val.Total }}</h5>
{% endfor %} -->
<img src="data:image/png;base64,{{graphic|safe}}">
<form action="{% url 'kval' %}" method="POST">
    {% csrf_token %}
    <label for="k" class="mx-sm-1">Enter value of k</label>
    <input type="number" name="k" value="" class="mx-sm-1" ><br />
    <button type="submit" name="btn" class="mx-sm-1 col-sm-1 btn btn-primary">Submit</button>
</form>
